---
export interface Props {
  author: string;
  quote: string;
}

const { author, quote } = Astro.props;
---

<blockquote
  class="first-letter:text-xl capitalize pr-5 bg-zinc-900 border-l-4 border-l-zinc-300 px-10 py-7"
>
  <p class="quotes">{quote}</p>

  <p class="text-sm mt-3"> - {author}</p>
</blockquote>
